<h1>Find out what kind of triangle you have!</h1>

<form action="/parcel">
  <div class="form-group">
    <label for="length">First Length</label>
    <input id="length" type="text" name="length" class="form-control">
  </div>
  <div class="form-group">
    <label for="width">Second Length</label>
    <input id="width" type="text" name="width" class="form-control">
  </div>
  <div class="form-group">
    <label for="height">Third Length</label>
    <input id="height" type="text" name="height" class="form-control">
  </div>
  <button type="submit" class="btn-primary">Go!</button>
</form>
